#gameCanvas {
    position: absolute;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    z-index: 100;
}

#GameComponent {
    height: 100%;
    width: 100%;
}

#boardContainer {
    position: absolute;
    height: 100vmin;
    width: 100vmin;
    overflow: hidden;
    display: block;
    top: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;
}

/* #boardContainer.offline {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} */

@media screen and (orientation:portrait) {
    #boardContainer {
        top: auto;
        bottom: 0;
    }
}
